.astronauts {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  pre {
    max-width: 95vw;
    overflow-x: scroll;
  }
}

.alert {
  max-width: 400px;
  margin: 0 auto;
}
