.header-container {
  display: flex;
  height: 50px;
  background: var(--page-background-color);
}

.header-container .navigation-logo {
  display: flex;
}

.header-container .child-tabs-container {
  display: flex;
  align-items: center;
  margin-left: var(--ds-spacing-04);
}

.header-container .navigation-option {
  color: var(--text-primary);
  text-decoration: none;
  padding: var(--ds-spacing-02) var(--ds-spacing-04);
}

.header-container .side-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-primary);
}
