.de-novo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .de-novo-request-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .loading-container {
    width: 50%;
    margin-top: 24px;
  }

  .props-form {
    width: 100%;
  }

  .dr-form-field {
    margin-bottom: 30px;
  }
}
