.de-novo-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .props-form {
    width: 40%;
  }

  .dr-form-field {
    margin-bottom: 30px;
  }
}
