.view-2d {
  padding: 12px 24px 30px;

  .view-2d-wrap {
    display: flex;
    justify-content: center;
  }

  .chem-props-trigger {
    margin-bottom: 30px;

    .truncate-with-tooltip {
      max-width: 250px;
    }
  }
}
