.placeholder-users {
  background-color: var(--page-background-color);
  color: var(--ds-white);
}

.placeholder-users-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
