.noMatchPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: calc(var(--ds-spacing-10) * 2);

  .powerOutageImage {
    width: 1199px;
  }

  .noMatchPageTexts {
    text-align: center;
  }

  .errorTitle {
    margin-top: var(--ds-spacing-10);
    margin-bottom: 0;
  }

  .errorDescription {
    margin-top: var(--ds-spacing-05);
    margin-bottom: 0;
  }

  .errorButton {
    margin-top: var(--ds-spacing-06);
    text-decoration: none;
  }
}
