.no-match-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: calc(var(--ds-spacing-10) * 2);
}

.no-match-page .power-outage-image {
  width: 1199px;
}

.no-match-page .no-match-page-texts {
  text-align: center;
}

.no-match-page .error-title {
  margin-top: var(--ds-spacing-10);
  margin-bottom: 0;
}

.no-match-page .error-description {
  margin-top: var(--ds-spacing-05);
  margin-bottom: 0;
}

.no-match-page .error-button {
  margin-top: var(--ds-spacing-06);
  text-decoration: none;
}
